# App General Settings
DJANGO_APP_SECRET_KEY=django-insecure-eoxp!-1zlbx&kdf^ypnnlvnypqy+7i3k7-mi(t58e_g*fwimri
DJANGO_DEBUG=True

# Email
EMAIL_HOST_PASSWORD=1234abcd
EMAIL_HOST_USER=osvaldo@mail.com

# Mysql
MYSQL_DATABASE=mysql_database
MYSQL_LOCAL_HOST=my-mysql
MYSQL_PASSWORD=mysql_pass
MYSQL_ROOT_PASSWORD=mysql_pass
MYSQL_TCP_PORT=3307
MYSQL_USER=mysql_pass

# Redis
REDIS_DB=0
REDIS_HOST=my-redis
REDIS_PORT=6381